<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="claimsList" type="Amido.Testing.Saml2.TokenGenerator.Configuration.ClaimsConfigurationSection, Amido.Testing.Saml2.TokenGenerator"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <!-- If using a certificate on the file system -->
    <add key="CertificateLocation" value=""/>
    <add key="CertificatePassword" value=""/>
    
    <!-- If using a certificate within the certificate store-->
    <add key="Thumbprint" value="4D66E5CD9C00DA01AFB67CA9C0E67D8CD7C16E43"/>
    <add key="StoreName" value="My"/>
    <add key="StoreLocation" value="CurrentUser"/>
    
    <add key="NotBeforeDate" value="02/06/2014 00:00:00"/>
    <add key="NotOnOrAfterDate" value="03/06/2020 00:00:00"/>
    <add key="Issuer" value="https://myissuer.com/trust"/>
    <add key="Audience" value="https://my.site.com/trust"/>
    <add key="NameIdentifier" value="123456789"/>
    <add key="SamlSubjectConfirmation" value="urn:oasis:names:tc:SAML:2.0:cm:bearer"/>
    
    <add key="Base64Token" value="false"/>
    <add key="UrlEncodeToken" value="false"/>
  </appSettings>
  <claimsList>
    <claims>
      <!--<claim name="http://myclaims/identity/claims/identityprovider" value="Amido" />
      <claim name="http://myclaims/identity/claims/customerid" value="1234" />
      <claim name="http://myclaims/identity/claims/firstname" value="Sean" />
      <claim name="http://myclaims/identity/claims/lastname" value="McAlinden" />-->
    </claims>
  </claimsList>
</configuration>